@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Login - Clinica Santa Rosa</title>
</head>
<body>
    <label for="username">Hola administrador</label>
    <a class="btn btn-danger" asp-controller="Seguridad" asp-action="Logout">
        Cerrar Sesión
    </a>

</body>
</html>